// variable
/* color */
$color-1: #fcfcfc;
$color-2: #315375;
$color-3: #5a7c9d;
$color-4: #83a6c6;
$color-5: #add0ef;

/* scrollbar */
html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #dbdbdb;
}

body::-webkit-scrollbar-thumb {
  background-color: #8a8a8a;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #5c5c5c;
}

// animation
.slideanim {
  visibility: hidden;
}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

/* fonts */
.lato {
  font-family: "Lato", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.nunito {
  font-family: "Nunito", sans-serif;
}

/* color */
.white {
  color: #fff;
}

.black {
  color: rgb(0, 0, 0);
}

.color-1 {
  color: #fcfcfc;
}

.color-2 {
  color: #315375;
}

.color-3 {
  color: #5a7c9d;
}

.color-4 {
  color: #83a6c6;
}

.color-5 {
  color: #add0ef;
}

/* main */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  // text-decoration: none;
  color: inherit;
}

/* id */
#container {
  width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section {
  margin-top: 10vh;
}
/* class */
.shadow-text {
  text-shadow: 4px 4px 3px rgba(51, 51, 51, 0.85);
}
.display-4 {
}

// .navbar {
//   margin: 0 0 10vh 0;
// }

// jumbotron
.jumbotron {
  margin: inherit inherit inherit;
  // padding: 30vh inherit;
  height: 85vh;
}

.jumbotron-inner {
  opacity: 0;
}

.jumbotron:hover {
  .overlay {
    opacity: 0.6;
    transition: 0.5s;
  }

  .jumbotron-inner {
    opacity: 1;
    transition: 0.5s;
  }
}

.bg-cover {
  background-image: url("../../assets/images/product-jumbotron.jpg");
  background-size: cover;
  // background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 0;
}

.overlay {
  background-color: #000;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.main-content {
  padding: 10vh inherit inherit inherit;
}

// search
// #search-input:hover {
// text-shadow: #746d6d;
// }

// .search-btn button:hover {
//   transform: scale(1.01);
//   transition: 0.5s;
// }

.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
  transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
  width: 3em;
  height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid {
  width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
  outline: transparent;
}
.search-bar {
  margin: auto;
  padding: 1.5em;
  justify-content: center;
  max-width: 30em;
  display: flex;
}
.search-bar input {
  background: transparent;
  border-radius: 1.5em;
  box-shadow: 0 0 0 0.4em #fff inset;
  padding: 0.75em;
  transform: translate(0.5em, 0.5em) scale(0.5);
  transform-origin: 100% 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search-bar input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
}
.search-btn {
  background: #fff;
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
  padding: 0.75em;
  position: relative;
  transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
  transform-origin: 0 50%;
}
.search-btn:before,
.search-btn:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
}
.search-btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2em #f1f1f1 inset;
  top: 0.75em;
  left: 0.75em;
  width: 1.2em;
  height: 1.2em;
}
.search-btn:after {
  background: #f1f1f1;
  border-radius: 0 0.25em 0.25em 0;
  top: 51%;
  left: 51%;
  width: 0.75em;
  height: 0.25em;
  transform: translate(0.2em, 0) rotate(45deg);
  transform-origin: 0 50%;
}
.search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
  background: #2762f3;
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
}
.search-bar input:focus + .search-btn:before,
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before,
.search-bar input:valid + .search-btn:after {
  opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
  background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
  transform: translateY(1px);
}

// card
.card {
  margin: 10vh inherit;
}

// footer
.page-footer {
  background-color: #1b1b1b;
  color: $color-1;
}

/* media query */
/* large screen */
@media (max-width: 1200px) {
}

/* small screen */
@media (max-width: 992px) {
}

/* tablet */
@media (max-width: 768px) {
  section {
    margin-top: 8vh;
  }
}

/* phone */
@media (max-width: 576px) {
}
